body {
    margin: auto;
    padding: 0;
    background: #D7D7D7;
}
#root {
    display: flex;
    justify-content: center;
}
.commonBlock {
    width: 32%;
    display: inline-block;
    height: 100%;
    border: 0.5px solid #000;
}